*.lock
*.pth
__pycache__
src/deeprlyb/models/
src/deeprlyb/wandb/
src/deeprlyb/logs/
src/deeprlyb/pymgrid_exp/
.ipynb_checkpoints
*.ipynb
personal_config.py
.DS_Store
/data
restats
*.txt
*.pkl
/dist
/logs
/test_package
